NEXT_PUBLIC_SUPABASE_URL=https://rmzgzczmrbooegftrzxn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtemd6Y3ptcmJvb2VnZnRyenhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg3NTMwODgsImV4cCI6MjA4NDMyOTA4OH0.7zVCfR4s_DCI3DFtdg9jQJMDb7V6nKXcny2YtiPx_x8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtemd6Y3ptcmJvb2VnZnRyenhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODc1MzA4OCwiZXhwIjoyMDg0MzI5MDg4fQ.nvQmmaSZylsv2LyX_sEjvuTLS8VMSJTPqGengHsqD_o